#text datei ignorieren
/woche2/w2t3/*.txt

/tag1/todolist/*
#module ignoren
/woche4/w4t1/nodeIntro/node_modules/*

#react data
/woche4/w4t2/reactintro/build
/woche4/w4t2/reactintro/node_modules
/woche4/w4t3/reactstate/build
/woche4/w4t3/reactstate/node_modules
/woche4/w4t5/mapservice/node_modules
/woche5/node_modules
/woche6/node_modules
/woche7/node_modules
/reactrouter/node_modules
/expressJS/node_modules
/my-vite-example/node_modules
/woche8/nodeExample/node_modules
/woche8/nodeFetching/node_modules
/woche8/adoptAPet/node_modules
/woche8/sqltest
/woche9/travelWishlist/node_modules
/woche9/sqlexercise/node_modules
/fullStackExample/Backend-ExpressJS/node_modules
/fullStackExample/Frontend-React/node_modules
/FSGroupExample/FSG_Frontend/node_modules
/FSGroupExample/FSGE_Backend/node_modules
/woche10/mongoDBExercise/node_modules
#sentsitive data
/woche6/.env.*