<header style="background-color: yellow; min-height: 60px; width: 100%  ">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
        
        </ul>
    </nav>
    <h1><%- locals.title %></h1>
</header>